@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  background: #f4f6f8;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(90deg, #4c9aff, #6c63ff);
  color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

header .header-username {
  margin-right: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  margin: 0;
  font-size: 1.5rem;
}

.login-form,
.estado-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.login-page,
.home-page {
  max-width: 500px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.auth-form {
  padding: 10px;
}

.auth-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.auth-tabs button {
  flex: 1;
  padding: 8px;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

.auth-tabs button.active {
  background: #4c9aff;
  color: white;
}

.auth-form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: red;
  font-size: 0.9em;
}

textarea {
  resize: vertical;
  width: 460px;
  padding: 10px 19px;
  font-size: 1em;
}

button {
  background: #4c9aff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #367edc;
}